<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>user register</title>
</head>
<body>
	<form action="register.do" method="post">
		<table align="center" style="font-size:18px;">
			<tr>
				<td colspan="2"><h2>注册用户信息</h2></td>
			</tr>
			<tr>
				<td>用户Id</td>
				<td><input type="text" name="userId" value="110521336" /></td>
			</tr>
			<tr>
				<td>用户名</td>
				<td><input type="text" name="userName" value="刘勇智" /></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="password" name="password" value="a123" /></td>
			</tr>
			<tr>
				<td>性别</td>
				<td><select name="sex">
						<option value="1">男</option>
						<option value="0">女</option>
				</select></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><input type="text" name="age" value="21" /></td>
			</tr>
			<tr>
				<td>电话</td>
				<td><input type="text" name="phone" value="18243086221" /></td>
			</tr>
			<tr>
				<td>邮箱</td>
				<td><input type="text" name="email" value="1977282570@qq.com" /></td>
			</tr>
			<tr>
				<td>备注</td>
				<td><input type="text" name="info" value="无" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="提交" /></td>
				<td><input type="reset" value="重写" /></td>
			</tr>

		</table>
	</form>
</body>
</html>